# Disable all components except Pgbouncer and Consul agent
roles ['pgbouncer_role']

# Configure Pgbouncer

{% if groups['postgres'] | length > 1 %}
pgbouncer['users'] = {
  'gitlab-consul': {
    password: "{{ ((consul_database_password | default(consul_password)) + 'gitlab-consul') | md5 }}"
  },
  'pgbouncer': {
    password: "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
  }
}
{% else %}
pgbouncer['admin_users'] = %w(pgbouncer gitlab-consul)
pgbouncer['databases'] = {
  gitlabhq_production: {
    host: "{{ postgres_host }}",
    user: "pgbouncer",
    password: "{{ (pgbouncer_password + 'pgbouncer') | md5 }}"
  }
}
{% endif %}

# Configure Consul agent
{% if groups['postgres'] | length > 1 %}
consul['watchers'] = %w(postgresql)
{% endif %}
consul['configuration'] = {
  bind_addr: '{{ ansible_default_ipv4.address }}',
  retry_join: %w({{ (consul_int_addrs | join(' ')) if 'consul' in groups else consul_single_server_int_addr }})
}
consul['monitoring_service_discovery'] = true

node_exporter['listen_address'] = '0.0.0.0:9100'

pgbouncer_exporter['enable'] = true
pgbouncer_exporter['listen_address'] = '0.0.0.0:9188'

custom_confs = Dir.glob(File.join("/etc/gitlab/", "gitlab.pgbouncer.*.rb"))
custom_confs.each { |conf|
  from_file conf
}
